<footer class="footer-wrapper footer-layout3" data-bg-src="{{ asset('assets/img/bg/footer-bg3.png') }}">
	<div class="widget-area">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6 col-xxl-3 col-xl-3">
					<div class="widget footer-widget">
						<div class="th-widget-about">
							<div class="about-logo">
								<a href="{{ path('app_main') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Ruffer"></a>
							</div>
							<p class="about-text">However, in general, a roofing company is Business that specializes in installing, Repairing, and maintaining roofs for website should be focused.</p>
							{#
							<div class="th-social">
								<a href="https://www.facebook.com/">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a href="https://www.twitter.com/">
									<i class="fab fa-twitter"></i>
								</a>
								<a href="https://www.linkedin.com/">
									<i class="fab fa-linkedin-in"></i>
								</a>
								<a href="https://www.whatsapp.com/">
									<i class="fab fa-whatsapp"></i>
								</a>
							</div>
							#}
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-auto">
					<div class="widget widget_nav_menu footer-widget">
						<h3 class="widget_title">therme légal</h3>
						<div class="menu-all-pages-container">
							<ul class="menu">
								<li>
									<a href="{{ path('app_main') }}">Privacy Policy</a>
								</li>
								<li>
									<a href="{{ path('app_aboutus') }}">Terms & Condition</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-wrap bg-title">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-md-12">
					<p class="copyright-text">© 2023 All Rights Reserved
						
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="scroll-top">
	<svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
	</svg>
</div>
