<div class="th-menu-wrapper">
	<div class="th-menu-area text-center">
		<button class="th-menu-toggle">
			<i class="fal fa-times"></i>
		</button>
		<div class="mobile-logo">
			<a href="{{ path('app_main') }}"><img src="{{ asset('assets/img/logo.png') }}" alt=""></a>
		</div>
		<div class="th-mobile-menu">
			<ul>
				<li>
					<a href="{{ path('app_main') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('app_aboutus') }}">Qui suis-je</a>
				</li>
				<li>
					<a href="{{ path('app_forfait') }}">Nos forfaits</a>
				</li>
				<li class="menu-item-has-children">
					<a>Voyance immediate</a>
					<ul class="sub-menu">
						<li>
							<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-telephone'}) }}">Voyance par telephone</a>
						</li>
						<li>
							<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-email'}) }}">Voyance par Email</a>
						</li>
						<li>
							<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-tchat'}) }}">Voyance par tchat</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ path('app_horoscope_list') }}">Horoscope</a> 
				</li>
				<li>
					<a href="{{ path('app_blog') }}">Blog</a>
				</li>
				<li>
					<a href="{{ path('app_contact') }}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<header class="th-header header-layout1">
	<div class="sticky-wrapper">
		<div class="header-top">
			<div class="container th-container">
				<div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
					<div class="col-auto d-none d-lg-block"></div>
					<div class="col-auto">
						<div class="header-links">
							{% if app.user %}
								<ul>
									<li class="d-none d-lg-inline-block">
										<div class="dropdown-link">
											<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
												Mon compte</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
												<li>
													<a href="{{ path('user_profile_new') }}">Mon profile</a>
													<a href="{{ path('user_forfait') }}">Achat de minutes</a>
													<a href="{{ path('app_mes_paiements') }}">Mes paiement</a>
													<a href="{{ path('user_consultation_email_list') }}">Consultation par E-mail</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							{% else %}
								<ul>
									<li class="d-none d-lg-inline-block">
										<div class="header-button">
											<a href="{{ path('app_login') }}" class="th-btn px-1 py-1">Connectez-vous<i class="fas fa-arrow-right ms-2"></i>
											</a>
										</div>
									</li>
									<li>
										<div class="header-button">
											<a href="{{ path('app_register') }}" class="th-btn px-1 py-1">Inscrivez-vous<i class="fas fa-arrow-right ms-2"></i>
											</a>
										</div>
									</li>
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-area">
			<div class="container th-container">
				<div class="row align-items-center justify-content-between">
					<div class="col-auto">
						<div class="header-logo">
							<a href="{{ path('app_main') }}"><img src="{{ asset('assets/img/logo.png') }}" alt=""></a>
						</div>
					</div>
					<div class="col-auto">
						<nav class="main-menu d-none d-lg-inline-block">
							<ul>
								<li>
									<a href="{{ path('app_main') }}">Accueil</a>
								</li>
								<li>
									<a href="{{ path('app_aboutus') }}">Qui suis-je</a>
								</li>
								<li>
									<a href="{{ path('app_forfait') }}">Nos forfaits</a>
								</li>
								<li class="menu-item-has-children">
									<a style="color:#000">Voyance immediate</a>
									<ul class="sub-menu">
										<li>
											<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-telephone'}) }}">Voyance par telephone</a>
										</li>
										<li>
											<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-email'}) }}">Voyance par Email</a>
										</li>
										<li>
											<a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-tchat'}) }}">Voyance par tchat</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="{{ path('app_horoscope_list') }}">Horoscope</a>
								</li>
								<li>
									<a href="{{ path('app_blog') }}">Blog</a>
								</li>
								<li>
									<a href="{{ path('app_contact') }}">Contact</a>
								</li>
							</ul>
						</nav>
						<button type="button" class="th-menu-toggle d-block d-lg-none">
							<i class="far fa-bars"></i>
						</button>
					</div>
					<div class="col-auto d-none d-lg-block">
						<div class="header-button">
							<div id="btn"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="logo-bg"></div>
	</div>
</header>
