{% extends 'admin.html.twig' %}

{% block title %}ArticleBlog{% endblock %}

{% block body %}
    <h1>ArticleBlog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_blog.id }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ article_blog.Article }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article_blog.Slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_blog_index') }}">back to list</a>

    <a href="{{ path('app_admin_article_blog_edit', {'id': article_blog.id}) }}">edit</a>

    {{ include('admin/article_blog/_delete_form.html.twig') }}
{% endblock %}
