{% extends 'base.html.twig' %}

{% block body %}
	<div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
		<div class="container">
			<div class="breadcumb-content text-center">
				<h1 class="breadcumb-title">Checkout</h1>
				<ul class="breadcumb-menu">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="th-checkout-wrapper space-top space-extra-bottom">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<nav>
						<ul>
							<li><ahref="{{ path('user_profile') }}">Informations personnelles</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-9">

					<section class="space pt-0">
						<div class="container">
							<div class="title-area text-center">
								<span class="sub-title">Choisissez parmi nos packs</span>
							</div>
							<div class="row gy-4 justify-content-center">

								<div class="col-xl-4 col-md-6">
									<div class="price-card ">
										<div class="bg-shape-img">
											<img src="{{ asset('assets/img/bg/pricing-bg-shape.png') }}" alt="img">
										</div>
										<div class="service-default-icon">
											<img src="{{ asset('assets/img/icon/service-icon-1-1.svg') }}" alt="Icon">
										</div>
										<div class="price-card_top">
											<h3 class="price-card_title">Residential Package</h3>
											<h4 class="price-card_price">
												$29
												<span class="duration">/Month</span>
											</h4>
											<p class="price-card_text">Save 25% For all Roofing services</p>
										</div>
										<div class="price-card_content">

											<a href="pricing.html" class="th-btn style3">Choisir<i class="fa-regular fa-arrow-right ms-2"></i>
											</a>
										</div>
									</div>
								</div>

								<div class="col-xl-4 col-md-6">
									<div class="price-card active">
										<div class="bg-shape-img">
											<img src="{{ asset('assets/img/bg/pricing-bg-shape.png') }}" alt="img">
										</div>
										<div class="service-default-icon">
											<img src="{{ asset('assets/img/icon/service-icon-1-1.svg') }}" alt="Icon">
										</div>
										<div class="price-card_top">
											<h3 class="price-card_title">Commercial Package</h3>
											<h4 class="price-card_price">
												$49
												<span class="duration">/Month</span>
											</h4>
											<p class="price-card_text">Save 35% For all Roofing services</p>
										</div>
											<a href="pricing.html" class="th-btn style3">Choisir<i class="fa-regular fa-arrow-right ms-2"></i>
											</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
