{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Blog Standard</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog Standard</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="th-blog-wrapper space-top space-extra2-bottom">
        <div class="container">
            <div class="row gx-40">
                <div class="col-xxl-8 col-lg-7">

                    {% for article in articles %}

                    <div class="th-blog blog-single has-post-thumbnail">
                        <div class="blog-img">
                            <a href="{{ path('app_blog_show_article', {'Slug': article.categorie.Slug, 'id': article.Slug }) }}"><img src="assets/img/blog/blog-s-1-1.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="author" href="{{ path('app_blog_show_article', {'Slug': article.categorie.Slug, 'id': article.Slug }) }}"><i class="far fa-user"></i>Ursuliah Voyance</a>
                                <a href="{{ path('app_blog_show_article', {'Slug': article.categorie.Slug, 'id': article.Slug }) }}"><i class="fa-light fa-calendar-days"></i>{{ article.CreatedAt | date('d M Y') }}</a>
                            </div>
                            <h2 class="blog-title"><a href="{{ path('app_blog_show_article', {'Slug': article.categorie.Slug, 'id': article.Slug }) }}">{{ article.Titre }}</a>
                            </h2>
                            <p class="blog-text">{{ article.article }}</p>
                            <a href="{{ path('app_blog_show_article', {'Slug': article.categorie.Slug, 'id': article.Slug }) }}" class="th-btn">Lire l'article<i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>

                    {% endfor %}

                    <div class="th-pagination ">
                        <ul>
                            <li><a href="blog.html">01</a></li>
                            <li><a href="blog.html">02</a></li>
                            <li><a href="blog.html">03</a></li>
                            <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Nos catégories</h3>
                            <ul>
                                {% for categorie in categories %}
                                <li><a href="{{ path('app_blog_show', {'Slug': categorie.Slug }) }}">{{ categorie.Titre }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget  ">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/widget/footer-widget_1_1.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a>
                                        </div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">The solution to your Roof problems</a></h4>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/widget/footer-widget_1_2.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                        </div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Quick and efficient Roof repairs.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </section>

    {% include '_partials/cta.html.twig' %}

{% endblock %}
