{% extends 'base.html.twig' %}

{% block title %}{{ horoscope.titre }}{% endblock %}
{% block description %}Bienvenue dans l'Univers du Signe du Zodiaque : Découvrez les Mystères et les Traits de Personnalité de {{ app.request.attributes.get('_route_params') | first }}{% endblock %}

{% block body %}

    <div class="breadcumb-wrapper " data-bg-src="{{ asset('assets/img/breadcrum/zodiaque.png') }}" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Horoscope {{ app.request.attributes.get('_route_params') | first }}</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{{ path('app_main') }}">Accueil</a></li>
                    <li><a href="{{ path('app_horoscope_list') }}">Signe du Zodiaque</a></li>
                    <li>Horoscope {{ app.request.attributes.get('_route_params') | first }}</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="space-top space-extra2-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-8">
                    <div class="page-single">
                    {#
                        <div class="page-img mb-30">
                            <img src="{{ asset('assets/img/service/service-details.png') }}" alt="Service Image">
                        </div>
                    #}

                        <div class="page-content">
                            <h2 class="h3 page-title" style="line-height: 1;">{{ horoscope.titre | replace({'(': '<br><span style="font-size: 16px;">', ')': "</span>"}) | raw }}</h2>
                            <p class="mb-30">{{ horoscope.description[0] | replace({'Amour': '<strong>Amour</strong>'}) | raw }}</p>
                            <p class="mb-30">{{ horoscope.description[1] | replace({'Argent': '<strong>Argent</strong>'}) | raw }}</p>
                            <p class="mb-30">{{ horoscope.description[2] | replace({'Santé': '<strong>Santé</strong>'}) | raw }}</p>
                            <p class="mb-30">{{ horoscope.description[3] | replace({'Travail': '<strong>Travail</strong>'}) | raw }}</p>
                            <p class="mb-30">{{ horoscope.description[4] | replace({'Famille': '<strong>Famille</strong>'}) | raw }}</p>
                            <p class="mb-30">{{ horoscope.description[5] | replace({'Citation': '<strong>Citation</strong>'}) | raw }}</p>
                            <p class="mb-30">Votre horoscope est fournis par <a href="{{ horoscope.link }}">asiaflash</a></p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Signe du zodiac</h3>
                            <ul>
                                {% for horoscope in zodiac %}
                                    <li><a href="{{ path('app_horoscope', {'slug': horoscope}) }}">{{ horoscope }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </section>

    {% include '_partials/cta.html.twig' %}

{% endblock %}