{% extends 'base.html.twig' %}

{% block title %}Signes astrologiques et horoscope gratuit | Ursuliah{% endblock %}
{% block description %}Le zodiaque, une roue céleste composée de douze segments, renferme les secrets des personnalités humaines depuis des millénaires. Chaque signe du zodiaque possède des caractéristiques uniques, des influences planétaires et des traits dominants qui façonnent les individus nés sous leur règne.{% endblock %}

{% block body %}
    <div class="breadcumb-wrapper" data-bg-src="{{ asset('assets/img/breadcrum/horoscopelist.png') }}" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Horoscope</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{{ path('app_main') }}">Accueil</a></li>
                    <li>Horoscope</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="space" id="service-sec">
        <div class="container">
            <div class="row gy-30">

                {% for horoscopes in horoscopes %}

                <div class="col-md-6 col-lg-4">
                    <div class="service-featured">
                        <div class="service-featured_img">
                            <img src="{{ asset('assets/img/horoscope/' ~ horoscopes.link | replace({'é':'e'}) ~ '.png') }}" alt="service">
                        </div>
                        <div class="service-featured_content">
                            <div class="service-bg-shape">
                                <img src="{{ asset('assets/img/service/service_box_shape1.jpg') }}" alt="img">
                            </div>
                            <div class="service-default-icon">
                                <img src="{{ asset('assets/img/horoscope/svg/' ~ horoscopes.link | replace({'é':'e'}) ~ '.svg') }}" height="50" width="50" alt="Icon">
                            </div>
                            <h3 class="box-title"><a href="{{ path('app_horoscope', {'slug': horoscopes.link }) }}">{{ horoscopes.titre }}</a></h3>
                            <p class="service-featured_text">...{{ horoscopes.description }}...</p>
                            <a href="{{ path('app_horoscope', {'slug': horoscopes.link}) }}" class="link-btn">Consulter mon horoscope<i class="fa-solid fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>




    <div class="why-sec-v3 py-5 bg-smoke space-bottom">
        <div class="container">
            <div class="row justify-content-between flex-row-reverse">
                <div class="col-xl-5 mb-50 mb-xl-0">
                    <div class="img-box4">
                        <div class="img1">
                            <img src="{{ asset('assets/img/normal/wcu-thumb3_1.png') }}" alt="Why">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 text-lg-start text-center">
                    <div class="title-area mb-35">
                        <span class="sub-title">Spécialités</span>
                        <h2 class="sec-title">Quel type de voyance pour répondre vos questions ?</h2>
                    </div>
                    <p class="mt-n2 mb-35">Quality roofing for every structure is essential for durability and cost-effectiveness. Choose from asphalt composite shingles, wood shingles, slate shingles, metal roofing, metal shingles, stone-coated steel,</p>
                    <div class="wcu-card-slider th-carousel" data-slide-show="3" data-ml-slide-show="2" data-md-slide-show="3" data-sm-slide-show="2" data-dots="false">

                     

                        {% for specialite in specialites %}
                        
                        <div class="col-sm-6">
                            <div class="wcu-card style2">
                                <div class="wcu-card_icon">
                                    <img src="{{ vich_uploader_asset(specialite, 'imageFile') }}" alt="img">
                                </div>
                                <div class="wcu-card_details">
                                    <h3 class="h5 wcu-card_title"><a>{{ specialite.Titre }}</a></h3>
                                </div>
                            </div>
                        </div>
                            
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% include '_partials/cta.html.twig' %}

{% endblock %}