{% extends 'admin.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="container-fluid pt-4 px-4">
		<h1>User index</h1>
		<a href="{{ path('app_admin_category_blog_new') }}">Créer une nouvelle catégorie</a>
		<div class="bg-light text-center rounded p-4">
			<div class="table-responsive">
				<table class="table text-start align-middle table-bordered table-hover mb-0">
					<thead>
						<tr class="text-dark">
							<th scope="col">Titre</th>
							<th scope="col">Slug</th>
							<th scope="col">Date création</th>
							<th scope="col">Date Modification</th>
							<th scope="col">Compte Actif</th>

						</tr> 
					</thead>
					<tbody>
						 {% for category_blog in category_blogs %}
							<tr>
								<td>{{ category_blog.Titre }}</td>
								<td>{{ category_blog.Slug }}</td>
								<td>{{ category_blog.CreatedAt | date('d M Y h:i:s') }}</td>
								<td>{{ category_blog.UpdatedAt | date('d M Y h:i:s') }}</td>
								<td>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" role="switch" {% if category_blog.IsVerified == false %} disabled disabled {% else %} checked disabled {% endif %}>

									</div>
								</td>
								<td>
									<a href="{{ path('app_admin_category_blog_show', {'id': category_blog.id}) }}">show</a>
                                    <a href="{{ path('app_admin_category_blog_edit', {'id': category_blog.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}

