{% extends 'base.html.twig' %}

{% block body %}
 <div class="breadcumb-wrapper " data-bg-src="{{ asset('assets/img/breadcrum/' ~ modeDeConsultation.Slug ~ '.png') }}" data-overlay="black" data-opacity="7">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">{{ modeDeConsultation.titre }}</h1>
                <ul class="breadcumb-menu">
                    <li><a href="{{ path('app_main') }}">Accueil</a></li>
                    <li>{{ modeDeConsultation.titre }}<</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="space-top space-extra2-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-8">
                    <div class="page-single">
                        <div class="page-img mb-30">
                            <img src="{{ vich_uploader_asset(modeDeConsultation, 'imageFile') }}" alt="Service Image">
                        </div>
                        <div class="page-content">
                            {{ modeDeConsultation.GrandeDescription | raw }}
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4">
                    <aside class="sidebar-area">
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Voyance en ligne</h3>
                            <ul>
                                <li><a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-tchat'}) }}">Voyance Tchat</a></li>
                                <li><a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-email'}) }}">Voyance par Email</a> </li>
                                <li><a href="{{ path('app_voyance_immediate', {'Slug': 'voyance-par-telephone'}) }}">Voyance par téléphone</a></li>
                            </ul>
                        </div>
                        
                        <div id="btn-home" class="btn-group" style="gap: 1px; text-align:center"></div>

                    </aside>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="cta-area-3 bg-theme" data-bg-src="assets/img/bg/newsletter-bg.png">
        <div class="cta-thumb3 shape-mockup d-lg-block d-none" data-top="0" data-left="0"><img src="assets/img/bg/cta-bg3.png" alt="img"></div>
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-5 col-md-7">
                    <div class="title-area mb-0 me-xl-5 text-md-start text-center">
                        <h2 class="sec-title h3 text-white">The mission is to provide Best Roofing</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 mt-40 mt-md-0 text-md-end text-center">
                    <a href="contact.html" class="th-btn style2">Contact Us<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}