<div class="col-3">
    <nav>
        <ul>
            <li><a href="{{path('user_profile')}}">Mon Compte</a></li>
            <li><a href="{{path('user_forfait')}}">acheter des minutes</a></li>
            <li><a href="{{path('user_profile')}}">Mes paiements </a></li>
            <li>Mes Consultation
                <ul>
                    <li><a href="{{path('user_prix_consultation_par_email')}}">Consultation par Email</a></li>
                    <li><a href="{{path('user_consultation_email_list')}}">Toutes les consultations par Email</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>