{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

	<div class="container-fluid pt-4 px-4">
		<h1>Liste des forfaits</h1>
		<a href="{{ path('app_admin_product_c_r_u_d_new') }}">nouveau forfait</a>
		<div class="bg-light text-center rounded p-4">
			<div class="table-responsive">
				<table class="table text-start align-middle table-bordered table-hover mb-0">
					<thead>
						<tr class="text-dark">
							<th scope="col">Nom</th>
							<th scope="col">Prix HT</th>
							<th scope="col">TVA</th>
							<th scope="col">Prix TCC</th>
							<th scope="col">Is Active</th>
							<th scope="col"></th>
							<th scope="col"></th>

						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{ product.Name }}</td>
								<td>{{ product.PriceHT }}</td>
								<td>{{ product.TVA }}</td>
								<td>{{ product.PriceTTC }}</td>
								<td>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" role="switch" {% if product.IsActive == false %} disabled disabled {% else %} checked disabled {% endif %}>

									</div>
								</td>
								<td>
									<a href="{{ path('app_admin_product_c_r_u_d_edit', {'id': product.id}) }}">Modification</a>
								</td>
								<td>
									{{ include('admin/product_crud/_delete_form.html.twig') }}
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}
